.hero-content{
    display: flex;
    border-radius: 59px;
    background-color:#F4F6F5;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
    margin-bottom: 63px;
}

.hero-tittle{
font-size: 96px;
font-weight: 900;
line-height: 120px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 40px;
max-width: 475px;
}
.word-lets{
position: relative;
display: inline-block;
}
.word-lets span{
    position: relative;
}
.word-lets::before{
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left:-20px;
    right: -160px;
    background-color: white;
    transform: rotate(-2deg);
}
.word-unique{
position: relative;
display: inline-block;
}
.word-unique span{
    position: relative;
}
.word-unique::before{
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left:-20px;
        right: -120px;
        background-color: #EBD96B;
        transform: rotate(-2deg);
}   




.hero-description{

font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.05em;
text-align: left;
margin-bottom: 32px;
}

.hero-btn{
border-radius: 10px;
font-size: 30px;
font-weight: 500;
line-height: 45px;
letter-spacing: -0.05em;
text-align: left;
color: white;
background-color: black;
border-radius: 10px;
padding-left: 41px;
width: 221px;
height: 82px;
}


.btn-wrapper{
    display: flex;
    align-items: center;
    column-gap: 34px;
}
.btn-wrapper::before{
    content: '';
    display: inline-block;
    width: 190px;
    height: 32px;
    

    background-image: url(../../images/icons/decor-yellow.svg);
}