:root{
    --textColor: #333;
    --yellow: #EBD96B;

}


body {
    font-family: 'Poppins', sans-serif ;
}
.conteiner{
 max-width: 1780px;
 margin: 0 auto;   
 padding: 0 30px;
}

.header_row_{
    display: flex;
}

.tittle-2{
    display: inline-block;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;
    text-align: left;
    position: relative;
}

.tittle-2::after{
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;
    z-index: -1;
    background-image: url(../images/icons/decor-yellow.svg);

}