.arrivals{
padding-top: 120px;
padding-bottom: 143px;
}

.arrivalsHeader{
    margin-bottom: 114px;
}

.arrivals-cards{
    
    column-gap: 30px;
}

.tittle-2{
    margin-bottom: 114px;
}

.cards-list{
    display: flex;
    column-gap: 131px;
}